<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <section class="container py-5 text-center">
            <i class="fas fa-ban fa-4x text-danger mb-3"></i>
            <h2>[[#{denegado.titulo}]]</h2>
            <p>[[#{denegado.mensaje}]]</p>
            <a th:href="@{/}" class="btn btn-danger"><i class="fas fa-home"></i> [[#{denegado.volver}]]</a>
        </section>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
